/* styles.css */

/* Body styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5e9d8;
    margin: 0;
    padding: 0px;
   

}

/* Heading styles */
h1 {
    color: #f5e9d8;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    margin-top: 0px;
    padding: 20px;
}
 
.heading-bar {
    background-image: url("violin.jpg"); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    align-items: center;
    /* padding: 0px;  */
    /* margin: 0px; */
  }
  .top{
    padding: 20px;
    margin:20px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-top: 0;
    padding-top: 0;
  }
.main
{
    padding: 50px;
    padding-top: 0px;
    margin:50px;
    margin-top: 20px;
}
h2 {
    color: #8b4513;
    font-size: 24px;
    margin-bottom: 10px;
}

/* List styles */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

ul li:before {
    content: "•";
    color: #8b4513;
    position: absolute;
    left: 0;
}

/* Paragraph styles */
p {
    color: #333;
    font-size: 18px;
    line-height: 1.5;
}

/* Link styles */
a {
    color: #8b4513;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

div.gallery {
    border: 1px solid #ccc;
    margin-top: 70px;
    margin: 40px;
    margin-bottom: 150px;
  }
  .a-notes
  {
    font-size: 20px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

.a-notes:hover
{
      border: 2px solid black;
    text-decoration: none;
    background-color: #8b4513;
    color: white;
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 

  }
  
  div.gallery:hover {
    border: 2px solid #8b4513;
    -ms-transform: scale(1.2); 
  -webkit-transform: scale(1.2); 
  transform: scale(1.2); 
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    color:white; padding: 10px; margin: 0;
    
  }

  .img-gallery{
    margin: 40px;
    margin-bottom: 150px;
  }